<h1>New separator</h1>

<%= error_messages_for :separator %>

<% form_for(@separator) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Belonging</b><br />
    <%= f.text_field :belonging_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', separators_path %>
