<h1>New note</h1>

<%= error_messages_for :note %>

<% form_for(@note) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Belonging</b><br />
    <%= f.text_field :belonging_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', notes_path %>
